%h1= t("posts.categories.edit")

= render 'form'

= link_to t("show"), post_category_path(id: @post_category.id), class: "btn btn-secondary"
= link_to t("back"), post_categories_path, class: "btn btn-secondary"
