.list-group{style: "min-width: 200px"}
- post_history.each do |item|
  .list-group-item.border-0
    .d-flex.w-100.justify-content-between
      = t("posts.states.history", user: item.user.nickname, state: t("posts.states." + item.state))
    - if item.reason  
      %small.text-muted= item.reason
      %br
    %small.text-muted=  t("ago", time: time_ago_in_words(item.created_at))
