.list-group.post-history-list
- post_history.each do |item|
  .list-group-item.border-0
    .d-flex.w-100.justify-content-between
      %span= item.user.nickname 
      %span.px-1 ➜ 
      %span.fw-bold= t("posts.states." + item.state)
    - unless item.reason.to_s.strip.empty?  
      %small.text-muted= item.reason
      %br
    %small.text-muted=  t("ago", time: time_ago_in_words(item.created_at))
