- post.aasm.events(permitted: true).map(&:name).select{ |v| can? v, post }.map(&:to_s).each do |state|
  - data = { state: state } #["reject", "ban"].include?(state) ? { "bs-toggle": "modal", "bs-target": "reason", "bs-reason": "@reason" } : {}
  = link_to t("posts.states." + state), send("post_#{state}_path", post), method: :post, remote: true, class: "btn btn-secondary btn-sm me-2", data: data
