@import "bootstrap";

.content {
	padding-top: 20px;
}

.lang {
	min-width: 20px;
}

.vr {
	margin-left: 12px;
	margin-right: 12px;
}

.vr.small {
	opacity: 0.1;
    height: 30px;
    margin-top: 5px;
}