@import "bootstrap/functions";
@import "bootstrap/variables";

@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

@import 'select2/dist/css/select2'; 

@import "welcome";
@import "posts";
@import "tag";
@import "post_categories";

// App sections
@import "application/flash";
@import "application/footer";

// Components
@import "components/alert";
@import "components/icon";


.content {
	padding: 20px;
}

.vr {
	margin-left: 12px;
	margin-right: 12px;
	.small {
		opacity: 0.1;
	    height: 30px;
	    margin-top: 5px;
	}
}

h1 {
	padding-bottom: 24px
}

a {
	text-decoration: none;
}

.app-flash, #message {
	position: fixed;
  right: 10px;
  top: 80px;
  opacity: .9;
  min-width: 240px;
}