@import "bootstrap/functions";
@import "bootstrap/variables";

@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

@import 'select2/dist/css/select2'; 

@import "welcome";
@import "posts";
@import "auth";

// App sections
@import "application/flash";
@import "application/footer";

// Components
@import "components/alert";
@import "components/icon";


.content {
	padding: 20px;
	min-height: 600px;
}

.vr {
	margin: -4px 12px;
	opacity: 0.2;
	&.small {
		opacity: 0.1;
    height: 30px;
    margin-top: 5px;
	}
}

h1 {
	padding-bottom: 24px
}

a {
	text-decoration: none;
}

.app-flash, #message {
	position: fixed;
  right: 10px;
  top: 80px;
  opacity: .9;
  min-width: 240px;
  z-index: 22;
}

.app-flash {
  .inline-icon {
    width: 100%;
    height: 100%;
  }
}

