
.adv-list {
  .time {
    white-space: nowrap;
  }
  .tags {
    max-width: 150px;
  }
}

.post-history-list {
  min-width: 200px;
}

.photos, #current-photos, #new-photos {
  .img-thumbnail {
    width: 200px;
    height: fit-content;
    margin-right: 10px;
  }
}

.select2-container, .select2-container--default.select2-container--focus .select2-selection--multiple {
  display: block !important;
  width: 100% !important;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: rgba(25, 135, 84, 0.25) 0px 0px 0px 4px; 
}

.actions {
  select {
    max-width: 200px;
  }
}