// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.select2-container, .select2-container--default.select2-container--focus .select2-selection--multiple {
  display: block !important;
  width: 100% !important;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: rgba(25, 135, 84, 0.25) 0px 0px 0px 4px; 
}

